<nav class="navbar">
  <div class="nav-brand">
    {{#link-to 'home'}}Reddit Clone{{/link-to}}
  </div>
  <div class="nav-links">
    {{#link-to 'home'}}Home{{/link-to}}
    {{#if auth.isAuthenticated}}
      {{#link-to 'profile' class="user-greeting-link"}}
        <span class="user-greeting">Welcome, {{auth.currentUser.username}}!</span>
      {{/link-to}}
      {{#link-to 'create-post'}}Create Post{{/link-to}}
      <button {{action 'logout'}} class="btn btn-link logout-btn">Logout</button>
    {{else}}
      {{#link-to 'login'}}Login{{/link-to}}
      {{#link-to 'register'}}Register{{/link-to}}
    {{/if}}
  </div>
</nav>
<main class="main-content">
  {{outlet}}
</main>
